@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

::-moz-selection{
    background-color: pink;
}

::selection{
    background-color: palevioletred;
}


.banner{
    background-image: url(../assets/about-banner-4.jpg), url(../assets/dark-gray.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover;
    min-height: 500px;
    display: flex;
    justify-content: center;
    background-blend-mode: multiply;
}

.service-banner{
    display: flex; flex-direction: column; justify-content: center; width: 80%;
}

.service-banner>h1{
    color: #fff;
    font-size: 50px;
    font-weight: 500;
}

@media screen and (max-width: 920px) {
    .service-banner>h1{
        font-size: 40px;
    }
    
}

@media screen and (max-width: 680px) {
    .service-banner>h1{
        font-size: 30px;
    }
    
}

.photo-gallery{
    display: flex; 
    justify-content: center; 
    padding: 80px 0;
}

.gallery-container{
    width: 95%;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
}

.gallery-item{
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.gallery-img{
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.image-title-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.gallery-item:hover .image-title-overlay{
    height: 100%;
}

.title-text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 1200px) {
    .title-text>h2{
        font-size: 24px;
    }
    
}

@media screen and (max-width: 920px) {
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .title-text>h2{
        font-size: 24px;
    }
    
}

@media screen and (max-width: 680px) {
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .title-text>h2{
        font-size: 24px;
    }
    
}

@media screen and (max-width: 480px) {
    .title-text>h2{
        font-size: 18px;
    }
    
}