@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

::-moz-selection {
    background-color: pink;
}

::selection {
    background-color: palevioletred;
}


.intro-container {
    /* width: 80%; */
    background-image: url("../assets/banner-bg-1.jpeg");
    /* background-blend-mode: darken; */
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.intro {

    width: 80%;
    padding: 60px;
    color: white;
}

@media screen and (max-width: 880px) {
    .intro {
        width: 100%;
        padding: 30px;
    }

    .intro h2{
        font-size: 60px;
    }
    
}

.intro h2 {
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.2;
    text-transform: capitalize;
}

.intro h6 {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

@media screen and (max-width: 910px) {
    .intro h2 {
        font-size: 56px;
    }

    .intro h6 {
        font-size: 18px;
    }

}

@media screen and (max-width: 880px) {
    .intro h2 {
        font-size: 48px;
    }

}

@media screen and (max-width: 565px) {
    .intro h2 {
        font-size: 42px;
    }

    .intro h6 {
        font-size: 14px;
    }

}

@media screen and (max-width: 480px) {
    .intro h2 {
        font-size: 36px;
    }

}

@media screen and (max-width: 390px) {
    .intro h2 {
        font-size: 28px;
    }

}

/* home page about design */

section.about-section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.about-grid {
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 60px;
    margin: 40px 0;
}

@media screen and (max-width: 910px) {
    .about-grid {
        display: flex;
        flex-direction: column;
    }

}


.about-pics {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
}

.about-pics>img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.pic1 {
    grid-column: 1/6;
    grid-row: 1/6;
}

.pic2 {
    grid-column: 1/6;
    grid-row: 6/12;
}

.pic3 {
    grid-column: 6/13;
    grid-row: 2/11;
}


.about-description>h4 {
    color: #d10f56;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.about-description>h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-description>p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

@media screen and (max-width: 910px) {
    .about-description>h1 {
        text-align: center;
        font-size: 40px;
    }

    .about-description>h4,
    p {
        text-align: center;
    }

}

@media screen and (max-width: 680px) {
    .about-description>h1 {
        text-align: center;
        font-size: 30px;
    }

    .about-description>h4,
    p {
        text-align: center;
    }

}

.about-icons {
    display: flex;
    justify-content: space-evenly;
}

.about-icons>div {
    margin: 12px 0;
    padding: 5px 10px;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    /* object-fit: contain; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s;
}

.about-icons img {
    height: 100%;
    width: 100%;
}

.about-icons>div:hover {
    background-color: #d10f56;
}

@media screen and (max-width: 420px) {
    .about-icons {
        flex-direction: column;
        align-items: center;
    }

    .about-icons>div {
        margin: 10px 0;
        padding: 20px 10px;
        width: 90%;
    }
}

/* home page service design */

section.hm-services-sect {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.services-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
    margin: 40px 0;
}

.services-descript {
    grid-column: 1/6;
    padding-left: 20px;
}

.services-pics {
    /* margin-left: 90px; */
    grid-column: 7/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.services-pics img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img1-div {
    grid-column: 6/13;
    grid-row: 1/7;
}

.img2-div {
    grid-column: 1/8;
    grid-row: 3/8;
}

@media screen and (max-width: 920px) {
    .services-grid {
        display: flex;
        flex-direction: column;
    }

    .service-para {
        text-align: left;
    }

    .services-pics {
        margin: 20px 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .img1-div {
        grid-column: 6/13;
        grid-row: 1/6;
    }

    .img2-div {
        grid-column: 1/8;
        grid-row: 3/7;
    }
}



.service-heading {
    /* font-family: "Montserrat", sans-serif; */
    font-size: 44px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 20px 0;
}

@media screen and (max-width: 920px) {
    .service-heading {
        font-size: 36px;
    }
    
}

.service-para {
    /* font-family: "Montserrat", sans-serif; */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 20px;
}

.hm-service-list>li {
    /* font-family: "Montserrat", sans-serif; */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 10px;
}


li>strong {
    font-weight: 600;
}

/* home testimonial */

.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

section>div {
    width: 80%;
}

.testimonial-head {
    text-align: center;
    /* font-family: "Montserrat", sans-serif; */
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 10px;
}

.testimonial-para {
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.6;
}

.grid-card {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 920px) {
    .grid-card {
        display: flex;
        flex-direction: column;
    }
    
}

.testimonial-cards {
    margin: 20px;
    /* transition: border .4s; */
}

.testimonial-cards:hover .client-bio>img {
    border: 5px solid #d10f56;
}

.testimonial-cards>p,
h4 {
    text-align: center;
}

.testimonial-cards>p {
    color: #393939;
    /* font-family: "Montserrat", sans-serif; */
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.testimonial-cards>h4 {
    color: #393939;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    margin-bottom: 50px;
    /* text-transform: uppercase; */
}

.test-feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 35px 55px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: background-color .5s, color .5s;
}

@media screen and (max-width: 640px) {
    .test-feedback {
        padding: 20px;
    }
    
}

.test-feedback:hover {
    background-color: rgb(39, 39, 39);
    color: white;
}

.icon-star {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.glyphicon-star {
    color: yellow;
}

.test-feedback>p {
    text-align: center;
    font-size: 16px;
    line-height: 1.8;
}

.client-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-bio>img {
    height: 104px;
    width: 104px;
    margin: 30px 0;
    border: none;
    border-radius: 50%;
    transition: border 0.4s;
}

/* .client-bio>img:hover{
    border: 5px solid #d10f56;
} */