.testimonial-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
section>div{
    width: 80%;
}
.testimonial-head{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 10px;
}

.testimonial-para{
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.6;
}

.grid-card{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.testimonial-cards{
    margin: 20px;
    /* transition: border .4s; */
}

.testimonial-cards:hover .client-bio>img{
    border: 5px solid #d10f56;
}

.testimonial-cards>p, h4{
    text-align: center;
}

.testimonial-cards>p{
    color: #393939;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.testimonial-cards>h4{
    color: #393939;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    margin-bottom: 50px;
    /* text-transform: uppercase; */
}

.test-feedback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 35px 55px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: background-color .5s, color .5s;
}

.test-feedback:hover{
    background-color: rgb(39, 39, 39);
    color: white;
}

.icon-star{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.glyphicon-star{
    color: yellow;
}

.test-feedback>p{
    text-align: center;
    font-size: 16px;
    line-height: 1.8;
}

.client-bio{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.client-bio>img{
    height: 104px;
    width: 104px;
    margin: 30px 0;
    border: none;
    border-radius: 50%;
    transition: border 0.4s;
}

/* .client-bio>img:hover{
    border: 5px solid #d10f56;
} */